* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-image: url('nana.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: 2 ;
  }

  header {
    background: #475047e2;
    color: #fff;
    padding: 20px 0;
}
header .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header h1 {
  font-size: 1.5rem;
  margin-bottom: 10px;  
}
  
nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

nav ul li a:hover {
  background:  #333;
}


.dropdown {
  position: relative;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:  #475047e2;
  z-index: 1;
}

.dropdown-content a {
  color: #fff;
  display: block;
  padding: 10px;
  text-decoration: none;
  width: 100%; 
  text-align: left; 
}

.dropdown-content a:hover {
  background-color: #a5a2a2;
  
}
  .main-content {
    background-image: url('DR.jpeg');
    background-size: cover;
    background-position: center;
    color:  #fff;;
    text-align: center;
    padding: 100px;
    box-sizing: border-box;
    font-size: larger;
  }
  
  .container {
    max-width: 1250px;
    margin: 0 auto;
  }
  
  .home h1 {
    font-size: 3em;
    margin-bottom: 20px;
  }
  
  .home p {
    font-size: 1.2em;
  }
  
  .features {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
    background-color:  #dbf5dbe2 ;
  }
  footer {
    background: #475047e2;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }